<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>

      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by"/>
        <add name="Content-Security-Policy" value="object-src 'none';"/>
        <add name="Arr-Disable-Session-Affinity" value="True"/>
        <add name="Vary" value="Accept-Encoding, If-Modified-Since"/>
      </customHeaders>
    </httpProtocol>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.min.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <rewrite>
      <rules>
        <rule name="Remove www" stopProcessing="true">
          <match url="(.*)" ignoreCase="true"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.(.+)$"/>
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
      </rules>

      <outboundRules rewriteBeforeCache="false">
        <rule name="Remove ETag">
          <match serverVariable="RESPONSE_ETag" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>

        <rule name="Send correct Vary">
          <match serverVariable="RESPONSE_Vary" pattern=".+"/>
          <action type="Rewrite" value="Accept-Encoding, If-Modified-Since"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>